@import "./variables";

.about-section{
    background-color: $dark-grey-color;
    @include flexCenter(column); 
    padding:5rem 0;
 
    & .bio-p{
        color:$orange-color; 
        font-size: 1.5rem;
        padding-bottom: 0.5rem;
    }
    & .bio-content{
        width: 80%;
        @include maxWidth;
    }

}